.verifyLevelSec{margin-top:1rem;width:100%;position:relative}
.verifyLevelWrapper{padding-top:20px;margin-bottom:15px;width:100%;height:calc(100vh - 222px);overflow:hidden}
.verifyLevelWrapper .headingImgBox{position:absolute;top:-25px;left:-38px;z-index:1;width:160px}
.verifyLevelWrapper .verifyLevelHeading{margin:30px 0 0 80px;display:flex;align-items:center;justify-content:space-between;position:relative}
.verifyLevelWrapper .verifyLevelHeading h2{font-family:var(--yapari-font);font-size:1.6rem;color:var(--white-color);text-transform:uppercase;font-weight:400;display:flex;white-space:nowrap;align-items:baseline;gap:10px}
.verifyLevelWrapper .verifyLevelHeading h2 span{margin-top:.5rem;display:block;font-size:.8rem;color:var(--primary-color);text-transform:none}
.verifyLevelForm{margin-top:65px}
.verifyLevelForm .levelFormBody{display:flex;flex-flow:row wrap;gap:30px 0;justify-content:space-between}
.verifyLevelForm .levelFormBody .formCol{width:30%;position:relative}
.verifyLevelForm .levelFormBody .formCol .form-group{margin-bottom:0}
.verifyLevelForm .levelFormBody .formCol:nth-child(3),.verifyLevelForm .levelFormBody .formCol:nth-child(5),.verifyLevelForm .levelFormBody .formCol:nth-child(8){padding-right:2px}
.verifyLevelForm .levelFormBody .formCol.addressCol{width:65%}
.verifyLevelForm .levelFormBody .formCol.dobCol lagend{position:absolute;top:50%;right:15px;transform:translateY(-50%);font-size:.9rem;font-family:var(--gotham-font);color:var(--white-color)}
.verifyLevelForm .levelFormBody .formSubmit{display:flex;justify-content:flex-end;width:100%}