.sectionHeading{display:flex;align-items:center;justify-content:space-between;position:relative}
.sectionHeading h2{font-family:var(--yapari-font);font-size:2rem;color:var(--white-color);text-transform:uppercase;font-weight:400;display:flex;white-space:nowrap;align-items:center;width:calc(100% - 325px)}
.sectionHeading h2 span{margin-top:.5rem;display:block;font-size:.8rem;color:var(--white-color);opacity:.5;text-transform:none}
.sectionHeading figure{position:relative;top:-10px;left:-50px;width:500px}
.appSearchBox{display:flex;align-items:center;border-radius:13px;border:1px solid var(--primary-color-dark);background:#073a4121}
.appSearchBox .form-control{background:none;border:0;width:280px;color:#838788;font-size:.9rem;border-radius:10px 0 0 10px;backdrop-filter:none}
.appSearchBox em{padding:14px;font-size:.9rem;background:none;cursor:pointer}
.onlineGamesSection{margin:3rem 0 0;width:100%}
.onlineGamesBox{padding-bottom:4rem;margin-top:1.5rem;display:flex;gap:1.28rem;flex-wrap:wrap}
.onlineGamesBox .gameItem{display:flex;width:calc(16.6% - 16.6px);max-width:120.94px;background:url(../images/border.svg) no-repeat left top;background-size:contain;position:relative;transition:.5s;top:0;cursor:pointer}
.onlineGamesBox .gameItem::after{content:'';position:absolute;top:0;left:0;width:99%;height:99%;border-radius:26px 15px;transition:.5s}
.onlineGamesBox .gameItem a{padding:.4rem;border-radius:2.4rem 1.6rem 2.4rem 1.7rem;overflow:hidden}
.onlineGamesBox .gameItem img{float:left}
.onlineGamesBox .gameItem:hover{background:url(../images/border-hover.svg) no-repeat left top;background-size:contain;top:-10px;transition:.5s}
.onlineGamesBox .gameItem:hover::after{box-shadow:0 4px 10px -1px #00E0FF,0 -2px 5px -2px #00E0FF;transition:.5s}































